/target
/Cargo.lock
.Xauthority
.bash_history
.bash_logout
.cache/
.dbus/
.dropbox/
.dropbox-dist/
.fluxbox/
.fontconfig/
.gtkrc-2.0
.icons/
.kde/
.local/
.mozilla/
.mplayer/
.mysql/
.mysql_history
.ssh/
.thumbnails/
.w3m/
.wine/
.xsession-errors
.xsession-errors.old
Desktop/
Downloads/
Dropbox/
GNUstep/
Music/
.aptitude/
.directory
.idlerc/
.histfile
.xscreensaver
.fehbg
.python_history
.gtk-bookmarks
.gitconfig
.npm/
.gconf/
